
/******************/
/* Universal selector */
/******************/

* {
    box-sizing: border-box;
}


/******************/
/* Type selectors */
/******************/

body {
    background: #dddddd;
}



h1 {
    color: blue;
}



/*******************/
/* Class Selectors */
/*******************/

.box {
    border: 1px solid #000;
    margin: 10px;
}


.rounded {
    border-radius: 5px;
}


.banner {
    background-color:  rgb(219, 155, 219);
    border: 5px solid purple;
    margin: 50px 10px;
    padding: 50px 50px 50px 50px;
    border-radius: 20px;
}



/****************/
/* Id Selectors */
/****************/

#ingredients-list {
    background-color: lightblue;
}




/**********************/
/* Multiple selection */
/**********************/

/* every h1 AND every h2 */
h1, h2 {
    font-family: Georgia;
}



/***********************/
/* Combining Selectors */
/***********************/

/* every div that ALSO has the class 'box' */
div.box {
    font-size: 200%;
}


/***************/
/* Descendants */
/***************/

/* every p that is a DESCENDANT of every footer */
footer p {
    background-color: green;
}




/*****************/
/* Media Queries */
/*****************/


@media (min-width: 800px) {
    .banner {
        width: 50%;
    }
}

@media (min-width: 1000px) {
    .banner {
        width: 30%;
    }
}

